@media (max-width: 125em) {

    /* ---------- Elementos basicos (titulos, parrafos...) ---------------- */
    html{
        scrollbar-color: #FF96D5 #5C1C4D; /*Color de la barra*/
    }
    

    body {
        background-color: #0F1425;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-image: url('../Imagenes/fondo.jpg'); /* Imagen del micrófono */
        background-repeat: repeat; /* Repetir */
        background-size: 15em 15em; /* Ajusta el tamaño de las imágenes */
        animation: moverFondo 3600s  linear infinite; /* Animación infinita */
    }
    
    h2, h3, p{
        font-family: "Audiowide", serif;
    }

    @keyframes moverFondo {
        from {
            background-position: 0 0; /* Punto de inicio */
        }
        to {
            background-position: -10000em -10000em; /* Se mueve diagonalmente */
        }
    }

    /* ----------------- Menu ----------------- */
    .Menu {
        font-family: "Audiowide", serif;
        background-color: #5C1C4D;
        position: fixed; /*Menú fijo*/
        top: 0%;
        left: 0%;
        right: 0%;
        z-index: 1000; /* Un valor alto para que esté por encima de otros elementos */
    }

    /* Logo y elementos para aceeder a las otras paginas */
    .Menualineado {
        display: flex;
        justify-content: space-between;
    }

    /* Imagen del menu (logo) */
    .Logo {
        width: 18em;
        height: 4.3em;
    }

    /* Elementos del menú para acceder a las otras paginas */
    .Listaunidamenu {
        display: flex;
        list-style: none; /* Para quitar los puntos de la lista */
        margin: 0;
        font-size: 1.4em;
    }

    /* Cada elemento del menú (menos el logo)*/
    .Listamenu {
        position: relative;
        left: -5%;
        text-decoration: none; /*Quitar el subrayado*/
        display: block;
        padding: 1em;
        color: #FF96D5; /*Color de la letra*/
        width: 20%;
        margin-left: -20%;
        top: 5%;
    }

    .Listamenu:hover {
        color: #C9599c;
        text-decoration: none;
    }

    #tres {
        background-color: #0F1425;
        border-radius: 50%;
        width: 70%;
        height: 30%;
        animation: parpadeo 1.5s linear infinite;
    }

    #tres:hover {
        animation: none;
    }


    @keyframes parpadeo {
        50% {
            opacity: 0;
        }
    }

    /* ----------------- Elementos basicos ----------------- */
    /*Botón hacia la sección de mapas*/
    .Seccion{
        color:#5C1C4D;
        position: fixed;
        background-color: #C9599c;
        border-radius: 50em;
        width: 4em;
        height: 4em;
        right: 1em;
        z-index: 10000;
        top: 13%;
    }

    /*Foto de principal de la página*/
    .Foto{
        margin-top: 10%;
        margin-left: -3%;
    }

    .Union{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    /*Texto de información*/
    .Descripcion{
        color: #FF96D5;
        font-size: 2em;
        margin-top: 12%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20em;
    }

    /*Información*/
    .Descripcion>p{
        font-size: 0.6em;
        width: 28em;
    }
    
    /*Botón leer más*/
    #LeerMas{
        font-family: "Audiowide", serif;
        color: #FF96D5;
        font-size: 0.5em;
        background-color: #5C1C4D;
        position: relative;
        right: 3em;
        border-radius: 15em;
        padding: 1em;
        margin: 1em;
    }

    /*Ratón por encima*/
    #LeerMas:hover {
        color: #C9599c;
        text-decoration: none;
    }

    /*Tabla de bebidas*/
    .Bebidas{
        font-family: "Audiowide", serif;
        color: #FF96D5;
        font-size: 2em;
        margin-top: 8%;
        margin-left: -4%;
    }

    .Bebidas>h2{
        width: 10em;
        position: relative;
        left: 12em;
    }

    table{
        border-collapse: collapse;
        border: 0.3em solid #5C1C4D;
        position: relative;
        left: 15em;
        background-color: #0F1425;
    }
    
    th, td{
        padding: 0.5em;
        text-align: left;
    }

    .Mapa{
        margin-top: 10em;
        display: flex;
        justify-content: space-around;
        scroll-margin-top: 5em;
    }

    .Mapa>div>h2{
        color: #FF96D5;
        text-align: center;
        font-size: 2em;
        position: relative;
        width: 7em;
        left: 6em;
    }

    /* ---------- Pie de pagina ------------- */
    footer {
        background-color: #5C1C4D;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        font-size: 0.8em;
        margin-top: 199%;
        height: 19em;
        left: 0%;
        right: 0%;
        position: absolute;
    }

    footer>div>h3 {
        font-family: "Audiowide", serif;
        text-align: center;
        color: #FF96D5;
        font-size: 1.17em;
        font-weight: bold;
    }

    footer>div>nav>ul {
        list-style: none;
    }

    .Redes {
        display: flex;
        width: 5%;
    }

    .Contacto {
        display: flex;
    }

}



@media (min-width: 1400px) {
    .Descripcion{
        position: relative;
    }
}

/* -------------------  Media Queries   ---------------- */
/* Moviles */
@media (max-width: 86.875em) and (min-width: 20em) {

    /* ---------- Elementos basicos (titulos, parrafos...) ---------------- */
    html{
        scrollbar-color: #FF96D5 #5C1C4D;
    }
    

    body {
        background-color: #0F1425;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    h2, h3, p{
        font-family: "Audiowide", serif;
    }

    /* ----------------- Menu ----------------- */
    .Menu {
        font-family: "Audiowide", serif;
        background-color: #5C1C4D;
        position: fixed;
        /*Menú fijo*/
        top: 0%;
        left: 0%;
        right: 0%;
        z-index: 1000;
        /* Un valor alto para que esté por encima de otros elementos */
    }

    /* Logo y elementos para aceeder a las otras paginas */
    .Menualineado {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    /* Imagen del menu (logo) */
    .Logo {
        width: 15em;
        height: 4em;
        margin: 0 auto;
        margin-top: 1em;
        display: flex;
        align-items: center;
        padding: 0.5em;
    }

    /* Desaparecer apartado de inicio */
    #Inicio {
        display: none;
    }

    /* Elementos del menú para acceder a las otras paginas */
    .Listaunidamenu {
        display: flex;
        list-style: none;   /* Para quitar los puntos de la lista */
        font-size: 1.2em;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-left: 1em;
    }

    /* Cada elemento del menú (menos el logo)*/
    .Listamenu {
        position: relative;
        left: -5%;
        text-decoration: none;
        /*Quitar el subrayado*/
        display: block;
        padding: 0.7em;
        color: #FF96D5;
        /*Color de la letra*/
        width: 20%;
        /* margin-left: -5'%; */
    }


    /* ----------------- Elementos basicos ----------------- */
    
    .Seccion{
        color:#5C1C4D;
        position: fixed;
        background-color: #C9599c;
        border-radius: 50em;
        width: 4em;
        height: 4em;
        right: 1em;
        z-index: 10000;
        top: 24%;
    }

    .Foto{
        display: none;
    }

    .Imagen{
        display: grid;
        position: relative;
        top: 10em;
    }

    .Descripcion{
        color: #FF96D5;
        font-size: 2em;
        margin-top: 24%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0F1425;
        width: 18em;
        border: 0.2em solid #5C1C4D;
    }

    .Descripcion>h2{
        position: relative;
        right: -2.5em;
        margin: 1.5em;
    }

    .Descripcion>p{
        font-size: 0.8em;
        width: 19em;
        margin: 1.5em;
    }

    .Bebidas{
        font-family: "Audiowide", serif;
        color: #FF96D5;
        text-align: center;
        font-size: 2em;
    }

    .Bebidas>h2{
        background-color: #0F1425;
        width: 10em;
        position: relative;
        left: 2em;
    }

    table{
        border-collapse: collapse;
        border: 0.3em solid #5C1C4D;
        position: relative;
        left: 4.5%;
        background-color: #0F1425;
        width: 95%;
    }
    
    th, td{
        padding: 0.5em;
        text-align: left;
    }

    .Mapa{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .Mapa>div>h2{
        color: #FF96D5;
        text-align: center;
        font-size: 2em;
    }

    /* ----------------- Footer ----------------- */

    footer {
        display: flex;
        flex-wrap: wrap;
        height: 35em;
        margin-top: 547%;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .PieIzq {
        margin-top: -2em;
    }

}