@media (max-width: 125em) {

    /* ---------- Elementos basicos (titulos, parrafos...) ---------------- */
    html{
        scrollbar-color: #FF96D5 #5C1C4D;
    }
    
    body {
        background-color: #0F1425;
        overflow-x: hidden;
        background-image: url('../Imagenes/fondo.jpg'); /* Imagen del micrófono */
        background-repeat: repeat; /* Repetir */
        background-size: 15em 15em; /* Ajusta el tamaño de las imágenes */
        animation: moverFondo 3600s  linear infinite; /* Animación infinita */
        display: flex;
        flex-direction: column;
    }

    body.Modoclaro{
        overflow-x: hidden;
        background-image: url('../Imagenes/fondoclaro.jpg'); /* Mantener la misma imagen de fondo */
        background-repeat: repeat; /* Repetir la imagen */
        background-size: 15em 15em; /* Mantener el tamaño de la imagen */
        animation: moverFondo 3600s linear infinite; /* Mantener la misma animación */
    }

    h1, h2, h3, h4, p, a{
        font-family: "Audiowide", serif;
    }

    @keyframes moverFondo {
        from {
            background-position: 0 0; /* Punto de inicio */
        }
        to {
            background-position: -10000em -10000em; /* Se mueve diagonalmente */
        }
    }

    /* ----------------- Menu ----------------- */
    .Menu {
        font-family: "Audiowide", serif;
        background-color: #5C1C4D;
        position: fixed;    /*Menú fijo*/
        top: 0%;
        left: 0%;
        right: 0%;
        z-index: 1000;  /* Un valor alto para que esté por encima de otros elementos */
    }

    /* Logo y elementos para aceeder a las otras paginas */
    .Menualineado {
        display: flex;
        justify-content: space-between;
    }

    /* Imagen del menu (logo) */
    .Logo {
        width: 18em;
        height: 4.3em;
    }

    /* Elementos del menú para acceder a las otras paginas */
    .Listaunidamenu {
        display: flex;
        list-style: none; /* Para quitar los puntos de la lista */
        margin: 0;
        font-size: 1.4em;
    }

    /* Cada elemento del menú (menos el logo)*/
    .Listamenu {
        position: relative;
        left: -5%;
        text-decoration: none; /*Quitar el subrayado*/
        display: block;
        padding: 1em;
        color: #FF96D5; /*Color de la letra*/
        width: 20%;
        margin-left: -20%;
        top: 5%;
    }

    /*Cambiar el color cuando esté el ratón por encima*/
    .Listamenu:hover {
        color: #ebcddf;
        text-decoration: none;
    }

    /*Realizar el circulo que rodea a reserva*/
    #Reserva {
        background-color: #0F1425;
        border-radius: 50%;
        width: 70%;
        height: 30%;
        animation: parpadeo 1.5s linear infinite; /*Realizar la animación con una duración de 1.5s que sea linear y nunca acabe*/
    }

    /*Parar la animación cuando el ratón está encima*/
    #Reserva:hover {
        animation: none;
    }

    /* Esto hace el efecto de parpadeo que podrá ver en la página*/
    @keyframes parpadeo {
        50% { /*En la mitad del tiempo la opacidad será de 0*/
            opacity: 0;
        }
    }

    /* Contenedor del interruptor */
    .Menualineado>button{
        position: fixed;
        top: 2.9%;
        right: 1%;
        z-index: 10000;
        background-color: transparent;
        border: none;
        transition: transform 0.5s ease-in-out;
        cursor: pointer;
        transition: background 0.5s;
        font-size: 1.5em;
    }

    /* Boton para cambiar el tamaño de la letra */
    .Botonfuente{
        position: fixed;
        bottom: 2em;
        z-index: 100000;
    }

    .Botonfuente > button {
        background-color: #932F7D; 
        border-radius: 50em;
        width: 4em;  
        height: 4em; 
        /* border: non e; */
        border-color: #b44d8b ;
        border-width: 0.2em;
        color: white;
        font-size: 1.2em;
        font-weight: bold;  /* Esto pone el texto en negrita */
        font-family: "Audiowide", serif;
    }

    .Botonfuente > button:hover {
        background-color: #762665;
    }

    .Botonfuente > button:active {
        background-color: #9f488f;
    }

    #Parar {
        background-color: transparent; /* Sin fondo */
        border: none;
        border-radius: 50%;
        width: 5em;  
        height: 5em; 
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-bottom:2em;
        margin-top: -2em; 
        margin-left: auto;
        margin-right: auto;
    }
    
    #Parar img {
        width: 100%; 
        height: auto; 
    }
    
    #Parar:hover {
        opacity: 0.6;
    }

    
    
    /* ----------------- Elementos basicos ----------------- */
    /*Foto principal*/
    .Fotoprincipal {
        float: inline-start;
        padding-top: 1.25em;
        width: 102%;
        position: relative;
        left: -1%;
    }

    .Resenas 
    {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
        color: #FF96D5;
        
    }

    .Resenas>div
    {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        overflow:hidden;

        flex-grow: 1;  /* Asegura que las columnas se distribuyan equitativamente */
        flex-shrink: 0; /* No permitir que se encojan */
        flex-basis: 70%; /* Definir un tamaño base */
        margin-left:1em;
        margin-bottom:3em;
    }

    .Titulo {
        /* text-align: left;
        position: relative; */
        /* left: 14%;
        width: 50%; */
        font-size: 4em;
        color: #FF96D5;
    }

    
    body.Modoclaro .Resenas>h1{
        color:#FF96D5;
    }

    body.Modoclaro .Resenas>article{
        background-color:#FF96D5;
        color: #0F1425;
    }

    body.Modoclaro .Resenas>div>h1{
        color: #5B0749;
    }

    .Titulo::after{
        background-color: #5B0749;
        border-radius: 5px;
        color: #FF96D5;
        content: attr(title);
        opacity: 0;
        padding: 6px 12px;
        position: absolute;
        left: 110%;
        top: 30px;
        transition: all .25s ease;
        visibility: hidden;
        white-space: nowrap;
    }

    /*Para desaparecer todas las reseñas*/
    .Resena {
        display: none; /* Por defecto, todas las reseñas están ocultas */
    }

    /*Para hacer visibles las reseñas que tengan esta clase*/
    .visible {
        display: block; /* Mostrar solo las reseñas con la clase 'visible' */
    }

    article {
        color: #0F1425; /*Color de la letra*/
        background-color: #FF96D5;

        padding: 1em;
        margin-bottom: 1em;
        margin-right: 1em;
        margin-left: 1em;
        display:flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap:wrap;
        /* margin-right: 30em; */
        /* width:50em; */
    }
    

    aside {
        background-color: rgba(91, 7, 73, 0.5); /* Ajusta el valor alfa (0.7) para obtener la transparencia que desees */
        color: white;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 50%;
        height: 49em;
        overflow-y: auto;
        scrollbar-color: #FF96D5 #5B0749; /* Color de la barra de desplazamiento */
        overflow-x: hidden;
    }
    

    .Noticiasunidas
    {
        margin-top:0.5em;
        display: flex;
        flex-direction: column;
        align-items: right;
        text-align: left;
    }

    aside>.Titulo {
        /* text-align: left;
        position: relative;
        left: -6%;
        width: 50%; */
        font-size: 3em;
        color: #FF96D5;
    }

    aside>ul {
        list-style: none;
        font-size: 1.2em;
        margin: 2em;
        margin-top: -3em;
    }

    aside > ul > li {
        border: 2px solid #FF96D5; /* Borde de color diferente y más visible */
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 0.5em;
        background-color: rgba(209, 94, 187, 0.6); /* Fondo con una ligera opacidad */
        color: #FFFFFF;  /* Texto blanco para alto contraste */
    }
    

    /*Color de las noticias y posición*/
    .Noticia1,
    .Noticia2,
    .Noticia3,
    .Noticia4 {
        color: #ffffff;
        text-decoration: none;
        display: flex;
        border: 2px solid #5C1C4D;
        border: none;
        outline: none;
        margin-bottom: 02em;
    }

    /*Marcar qué noticia está pisando el ratón*/
    .Noticia1:hover,
    .Noticia2:hover,
    .Noticia3:hover,
    .Noticia4:hover {
        color: #e7a4cc;
        text-decoration: none;
    }

 /* ---------- Pie de pagina ------------- */
 footer {
    position: relative;
    width: 100%;  /* Asegura que el footer ocupe todo el ancho */
    background-color: #5C1C4D;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 0.8em;
    height: 21em;
    margin-top: auto; /* Esto ayuda a que el footer se quede al final */
    padding: 1em 0;  /* Asegura que no haya espacio extra dentro */
}


footer>div>h3 {
    font-family: "Audiowide", serif;
    text-align: center;
    color: #FF96D5;
    font-size: 1.17em;
    font-weight: bold;
}

footer>div>nav>ul {
    list-style: none;
}

.Redes {
    display: flex;
    width: 5%;
}

.Contacto {
    display: flex;
}

}


/* -------------------  Media Queries   ---------------- */
/* Moviles */
@media (max-width: 86.875em) and (min-width: 20em) {

    /* ----------------- Menu ----------------- */

    /* Logo y elementos para aceeder a las otras paginas */
    .Menualineado {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    /* Imagen del menu (logo) */
    .Logo {
        width: 15em;
        height: 4em;
        margin: 0 auto;
        margin-top: 1em;
        display: flex;
        align-items: center;
        padding: 0.5em;
    }

    /* Desaparecer apartado de inicio */
    #Inicio {
        display: none;
    }

    /* Elementos del menú para acceder a las otras paginas */
    .Listaunidamenu {
        display: flex;
        list-style: none;
        /* Para quitar los puntos de la lista */
        font-size: 1.2em;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-left: 1em;
    }

    /* Cada elemento del menú (menos el logo)*/
    .Listamenu {
        padding: 0.7em;
    }

    /* Botones */
    .Botonfuente{
       display:none;
    }

    /* ----------------- Elementos basicos ----------------- */
    .Fotoprincipal {
        display: none;
        right: 0;
    }

    .Resenas {
        margin-top: 10em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    
    /* Cambiamos su tamaño */
    aside
    {
        width: 93%;
    }

    /* aside>ul>li>a {
        border: 2px solid #c3b0bf;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 0.5em;
        margin-right:0.7em;
    } */

    .Noticia1,
    .Noticia2,
    .Noticia3,
    .Noticia4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: nowrap;
        margin-bottom: 0.5em;
        margin-right:2em;
        font-size: 90%;
    }
    /* ----------------- Footer ----------------- */

    footer {
        display: flex;
        flex-wrap: wrap;
        height: 50em; 
        /* margin-top: 44.2%; */
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        /* margin-top:2em;  */
        position:relative;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        width: 100%;
        /* margin-top: -10%; */
    }


    /* .PieIzq {
        margin-top: -2em;
    } */

}