@media (max-width: 125em) {

    /* ---------- Elementos basicos (titulos, parrafos...) ---------------- */
    * {
        box-sizing: border-box; /* Asegura que padding y border no aumenten el tamaño total */
    }
    
    html{
        scrollbar-color: #FF96D5 #5C1C4D; /*Color de la barra*/
        height: 100%;  /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    }
    

    body {
        background-color: #0F1425;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-image: url('../Imagenes/fondo.jpg'); /* Imagen del micrófono */
        background-repeat: repeat; /* Repetir */
        background-size: 15em 15em; /* Ajusta el tamaño de las imágenes */
        animation: moverFondo 3600s  linear infinite; /* Animación infinita */
        flex-grow: 1;  /* Hace que el cuerpo crezca para llenar el espacio disponible */
        height: 100%;  /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    }

    body.Modoclaro{
        overflow-x: hidden;
        background-image: url('../Imagenes/fondoclaro.jpg'); /* Mantener la misma imagen de fondo */
        background-repeat: repeat; /* Repetir la imagen */
        background-size: 15em 15em; /* Mantener el tamaño de la imagen */
        animation: moverFondo 3600s linear infinite; /* Mantener la misma animación */
    }
    
    h2, h3, p{
        font-family: "Audiowide", serif;
    }

    body.Modoclaro h2, body.Modoclaro .Descripcion>p{
        color: #5C1C4D;
    }

    @keyframes moverFondo {
        from {
            background-position: 0 0; /* Punto de inicio */
        }
        to {
            background-position: -10000em -10000em; /* Se mueve diagonalmente */
        }
    }

    /* ----------------- Menu ----------------- */
    .Menu {
        font-family: "Audiowide", serif;
        background-color: #5C1C4D;
        position: fixed; /*Menú fijo*/
        top: 0%;
        left: 0%;
        right: 0%;
        z-index: 1000; /* Un valor alto para que esté por encima de otros elementos */
    }

    /* Logo y elementos para aceeder a las otras paginas */
    .Menualineado {
        display: flex;
        justify-content: space-between;
    }

    /* Imagen del menu (logo) */
    .Logo {
        width: 18em;
        height: 4.3em;
    }

    /* Elementos del menú para acceder a las otras paginas */
    .Listaunidamenu {
        display: flex;
        list-style: none; /* Para quitar los puntos de la lista */
        margin: 0;
        font-size: 1.4em;
    }

    /* Cada elemento del menú (menos el logo)*/
    .Listamenu {
        position: relative;
        left: -5%;
        text-decoration: none; /*Quitar el subrayado*/
        display: block;
        padding: 1em;
        color: #FF96D5; /*Color de la letra*/
        width: 20%;
        margin-left: -20%;
        top: 5%;
    }

    .Listamenu:hover {
        color: #ebcddf;
        text-decoration: none;
    }

    #Reserva {
        background-color: #0F1425;
        border-radius: 50%;
        width: 100%;
        height: 90%;
        animation: parpadeo 1.5s linear infinite;
    }

    #Reserva:hover {
        animation: none;
    }

    .Listamenu.activo {
        color: #C9599c;
        font-weight: bold; /* Para resaltar */
    }

    @keyframes parpadeo {
        50% {
            opacity: 0;
        }
    }

    /* Contenedor del interruptor */
    .Menualineado>button{
        position: fixed;
        top: 2.9%;
        right: 1%;
        z-index: 10000;
        background-color: transparent;
        border: none;
        transition: transform 0.5s ease-in-out;
        cursor: pointer;
        transition: background 0.5s;
        font-size: 1.5em;
    }

    /* ----------------- Elementos basicos ----------------- */
    /*Botón hacia la sección de mapas*/
    .Seccion{
        color:#5C1C4D;
        position: fixed;
        background-color: #C9599c;
        border-radius: 50em;
        width: 4em;
        height: 4em;
        right: 1em;
        z-index: 10000;
        top: 13%;
    }

    /* Boton para cambiar el tamaño de la letra */
    .Botonfuente{
        position: fixed;
        bottom: 2em;
        z-index: 100000;
    }

    .Botonfuente > button {
        background-color: #932F7D; 
        border-radius: 50em;
        width: 4em;  
        height: 4em; 
        /* border: non e; */
        border-color: #b44d8b ;
        border-width: 0.2em;
        color: white;
        font-size: 1.2em;
        font-weight: bold;  /* Esto pone el texto en negrita */
        font-family: "Audiowide", serif;
    }

    .Botonfuente > button:hover {
        background-color: #762665;
    }

    .Botonfuente > button:active {
        background-color: #9f488f;
    }

    /*Foto de principal de la página*/
    .Foto{
        margin-top: 10%;
        margin-left: -3%;
    }

    .Union{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    /*Texto de información*/
    .Descripcion{
        color: #FF96D5;
        font-size: 2em;
        margin-top: 12%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20em;
        margin-left: 1em;
        margin-right: 1.5em;
    }

    /*Información*/
    .Descripcion>p{
        font-size: 0.6em;
        width: 26em;
    }
    
    /*Botón leer más*/
    #LeerMas{
        font-family: "Audiowide", serif;
        color: #FF96D5;
        font-size: 0.5em;
        background-color: #5C1C4D;
        position: relative;
        right: 3em;
        border-radius: 15em;
        padding: 1em;
        margin: 1em;
    }

    /*Ratón por encima*/
    #LeerMas:hover {
        color: #C9599c;
        text-decoration: none;
    }

    /*Tabla de bebidas*/
    .Bebidas {
        font-family: "Audiowide", serif;
        color: #FF96D5;
        text-align: center;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  /* Centra los elementos verticalmente */
        margin-top: 8%;
        padding: 0 1em;  /* Añade un poco de padding para evitar que los elementos toquen los bordes */
        width: 100%;
        margin-left: -1em;
    }
    
    .Bebidas > h2 {
        width: 100%; /* Ajusta el h2 al tamaño disponible */
        font-size: 1.3em;
        margin: 0;  /* Elimina márgenes innecesarios */
        text-align: center;
        margin-bottom:0.5em;
    }
    

    table{
        border-collapse: collapse;
        border: 0.3em solid #5C1C4D;
        /* position: relative; */
        /* left: 15em; */
        background-color: #0F1425;
        /* width: 100%;  */
        margin: 0;  /* Elimina márgenes innecesarios */
        text-align: center;
    }

    body.Modoclaro table{
        background-color: white;
        color: #5C1C4D;
    }
    
    th, td{
        padding: 0.5em;
        text-align: left;
    }

    .Mapa{
        margin-top: 4em;
        display: flex;
        /* justify-content: space-around; */
        scroll-margin-top: 5em;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;  /* Centra los elementos verticalmente */
        padding: 0 1em;  /* Añade un poco de padding para evitar que los elementos toquen los bordes */

    }

    .Mapa>div>h2{
        color: #FF96D5;
        text-align: center;
        font-size: 2em;
        /* position: relative; */
        width: 7em;
        /* left: 100em; */
        margin-bottom:0.5em;
        width: 100%; /* Ajusta el h2 al tamaño disponible */ 
    }

    .Mapa>div{
        margin-right:1em; 
        margin-bottom:6em;
    }

    /* ---------- Pie de pagina ------------- */
    footer {
        position: relative;
        width: 100%;  /* Asegura que el footer ocupe todo el ancho */
        background-color: #5C1C4D;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        font-size: 0.8em;
        height: 21em;
        margin-top: auto; /* Esto ayuda a que el footer se quede al final */
        padding: 1em 0;  /* Asegura que no haya espacio extra dentro */
    }
    

    footer>div>h3 {
        font-family: "Audiowide", serif;
        text-align: center;
        color: #FF96D5;
        font-size: 1.17em;
        font-weight: bold;
    }

    footer>div>nav>ul {
        list-style: none;
    }

    .Redes {
        display: flex;
        width: 5%;
    }

    .Contacto {
        display: flex;
    }

}

/* -------------------  Media Queries   ---------------- */
/* Moviles */
@media (max-width: 86.875em) and (min-width: 20em) {

    /* ----------------- Menu ----------------- */

    /* Logo y elementos para aceeder a las otras paginas */
    .Menualineado {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    /* Imagen del menu (logo) */
    .Logo {
        width: 15em;
        height: 4em;
        margin: 0 auto;
        margin-top: 1em;
        display: flex;
        align-items: center;
        padding: 0.5em;
    }

    /* Desaparecer apartado de inicio */
    #Inicio {
        display: none;
    }

    /* Elementos del menú para acceder a las otras paginas */
    .Listaunidamenu {
        display: flex;
        list-style: none;   /* Para quitar los puntos de la lista */
        font-size: 1.2em;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-left: 1em;
    }

    /* Cada elemento del menú (menos el logo)*/
    .Listamenu {
        position: relative;
        left: -5%;
        text-decoration: none;
        /*Quitar el subrayado*/
        display: block;
        padding: 0.7em;
        color: #FF96D5;
        /*Color de la letra*/
        width: 20%;
        /* margin-left: -5'%; */
    }


    /* ----------------- Elementos basicos ----------------- */
    
    .Seccion{
        top: 24%;
    }

    .Botonfuente{
        display:none;
    }

    .Foto{
        display: none;
    }

    .Imagen{
        display: grid;
        position: relative;
        top: 10em;
    }

    .Descripcion{
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        margin-left: 0.5em;
        margin-bottom: -1.5em;
        
    }

    .Descripcion>h2{
        width: 10em;
        position: relative;
        left: 0.1em;
        font-size:1.4em;
    }

    .Descripcion>p{
        font-size: 0.7em;
        width: 19em;
        margin: 1.5em;
        width:100%;
        margin-left: 3.5em;
        margin-right: 2.5em;
    }

    .Descripcion>button 
    {
        position:relative;
        left: -0.5em;
        width:50%;
    }

    .Bebidas{
        margin-right:1em;
    }

    .Bebidas>h2{
        width: 10em;
        position: relative;
        left: 0.5em;
        font-size:1.3em;
        margin-top:1em;
    }

    table{
        position: relative;
        left: 4.5%;
        width: 95%;
    }
    
    .Mapa{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 6em;
    }

    .Mapa>div>iframe{
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
    }

    /* ----------------- Footer ----------------- */

    footer {
        display: flex;
        flex-wrap: wrap;
        height: 45em; 
        /* margin-top: 44.2%; */
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        /* margin-top:2em;  */
        position:relative;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        width: 100%;
        margin-top: -6%;

    }

    .PieIzq {
        margin-top: -2em;
    }

}