/* Ordenador */

@media (max-width: 125em)  {

    /* ---------- Elementos basicos (titulos, parrafos...) ---------------- */
    h3 {
        font-family: "Luckiest Guy", serif;
        text-align: center;
        color: white;
        margin-top: 2.5em;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;
    }

    /* h2 */
    .Cuadro {
        font-family: "Luckiest Guy", serif;
        text-align: center;
        color: white;
        margin-top: 1em;
        font-family: "Luckiest Guy", serif;
        font-weight: 400;
        font-style: normal;
        margin-left: 10em;
        margin-right: 10em;
        border: 2px solid #5C1C4D;
        padding: 0.5em;
        background-color: rgba(209, 94, 187, 0.8);
        /* Color de fondo con opacidad */
        box-shadow: 10px 10px 5px 0px #5C1C4D;
        width: 65%;
    }

    .TituloInicio {
        margin-top: 3.5em;
        font-family: "Audiowide", serif;
        text-align: center;
        color: #FF96D5;
        margin-top: 3em;
    }

    body {
        background-color: #0F1425;
        overflow-x: hidden;
        /* Evita el deslizamiento horizontal de toda la página */
        background-image: url('../Imagenes/fondo.jpg'); /* Imagen del micrófono */
        background-repeat: repeat; /* Repetir */
        background-size: 15em 15em; /* Ajusta el tamaño de las imágenes */
        animation: moverFondo 3600s  linear infinite; /* Animación infinita */
    }

    @keyframes moverFondo {
        from {
            background-position: 0 0; /* Punto de inicio */
        }
        to {
            background-position: -10000em -10000em; /* Se mueve diagonalmente */
        }
    }

    .ParrafosWeb {
        margin-left: 5em;
        margin-right: 5em;
        border: 2px solid #5C1C4D;
        padding: 1em;
        background-color: rgba(209, 94, 187, 0.8);
        /* Color de fondo con opacidad */
        box-shadow: 10px 10px 5px 0px #5C1C4D;
    }

    label {
        color: white;
        font-family: "Rubik", serif;
        font-weight: 500;
        font-style: normal;
    }


    /* ----------------- Menu ----------------- */
    .Menu {
        font-family: "Audiowide", serif;
        background-color: #5C1C4D;
        position: fixed;
        /*Menú fijo*/
        top: 0%;
        left: 0%;
        right: 0%;
        z-index: 1000;
        /* Un valor alto para que esté por encima de otros elementos */
    }

    /* Logo y elementos para aceeder a las otras paginas */
    .Menualineado {
        display: flex;
        justify-content: space-between;
    }

    /* Imagen del menu (logo) */
    .Logo {
        width: 18em;
        height: 4.3em;
    }

    /* Elementos del menú para acceder a las otras paginas */
    .Listaunidamenu {
        display: flex;
        list-style: none;
        /* Para quitar los puntos de la lista */
        margin: 0;
        font-size: 1.4em;
    }

    /* Cada elemento del menú (menos el logo)*/
    .Listamenu {
        position: relative;
        left: -5%;
        text-decoration: none;
        /*Quitar el subrayado*/
        display: block;
        padding: 1em;
        color: #FF96D5;
        /*Color de la letra*/
        width: 20%;
        margin-left: -20%;
        top: 5%;
    }

    .Listamenu:hover {
        color: #C9599c;
        text-decoration: none;
    }

    #tres {
        background-color: #0F1425;
        border-radius: 50%;
        width: 70%;
        height: 30%;
        animation: parpadeo 1.5s linear infinite;
    }

    #tres:hover {
        animation: none;
    }

    @keyframes parpadeo {
        50% {
            opacity: 0;
        }
    }

    .Logo {
        width: 18em;
        height: 4.3em;
        /* justify-content: flex-start; */
    }

    /* -------------- Botones ------------- */

    .Botoneslocalizacion {
        display: flex;
        justify-content: center;
    }

    button {
        color: white;
        background-color: #D15EBB;
        border-color: #D15EBB;
        width: 10em;
        height: 2.5em;
        text-align: center;
        font-family: "Audiowide", serif;
    }

    button:hover {
        background-color: #bc55a9;
    }

    #Aceptar {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        transition: .3s;
        background: #4467C2;
        cursor: pointer;
        border-radius: 6px;
        border-color: #809fed;
        width: 13em;
        height: 5em;
        /* margin-top: -15em; */
    }

    #Aceptar:hover {
        background: rgb(0, 102, 255);
        /* Color al pasar el mouse */
        box-shadow: rgba(0, 102, 255, 0.4) 4px 4px, rgba(0, 102, 255, 0.3) 8px 8px, rgba(0, 102, 255, 0.2) 12px 12px, rgba(0, 102, 255, 0.1) 16px 16px, rgba(0, 102, 255, 0.05) 20px 20px;
    }

    /* ------------- Rellenar datos ------------ */
    .Rellenardatos {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .Datospersonales {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Seleccionarsala {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Seleccionarsala>.Error {
        height: 4em;
    }

    .Seleccionarsala>.Error>select {
        padding: 1em;
        width: 20em;
        height: 4em;
        border-radius: 0.5em;
    }

    .ElPuerto, .Sevilla
    {
        display:none;
    }


    .Seleccionarfecha {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Seleccionarhorario {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Horarioscheck>input {
        margin-top: 0.7em;
    }

    .Datospersonales>.Error>input {
        padding: 1em;
        width: 20em;
        height: 2em;
        border-radius: 0.5em;
        margin-bottom: 0.5em;
    }


    .Seleccionarfecha>input {
        padding: 1em;
        width: 20em;
        height: 2em;
        border-radius: 0.5em;
    }


   
    /* ---------- Pie de pagina ------------- */
    footer {
        font-family: "Audiowide", serif;
        background-color: #5C1C4D;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        font-size: 0.8em;

        /* margin-top: -65em; */
        margin-top: 10em;
        height: 19em;
        /* top: 135em; */
        left: 0%;
        right: 0%;
        position: absolute;
    }

    footer>div>h3 {
        font-family: "Audiowide", serif;
        text-align: center;
        color: #FF96D5;
        font-size: 1.17em;
        font-weight: bold;
    }

    footer>div>nav>ul {
        list-style: none;
    }

    .Redes {
        display: flex;
        width: 5%;
    }

    .Contacto {
        display: flex;
    }

}


/* Moviles */
@media (max-width: 86.125em) and (min-width: 20em) {

    /* h2 */
    .Cuadro {
        font-family: "Luckiest Guy", serif;
        text-align: center;
        color: white;
        margin-top: 1em;
        font-weight: 400;
        font-style: normal;
        margin-left: 10em;
        margin-right: 10em;
        border: 2px solid #5C1C4D;
        padding: 0.5em;
        margin: 0 auto;
        background-color: rgba(209, 94, 187, 0.8);
        /* Color de fondo con opacidad */
        box-shadow: 10px 10px 5px 0px #5C1C4D;
        display: flex;
    }

    /* ----------------- Menu ----------------- */
    .Menu {
        font-family: "Audiowide", serif;
        background-color: #5C1C4D;
        position: fixed;
        /*Menú fijo*/
        top: 0%;
        left: 0%;
        right: 0%;
        z-index: 1000;
        /* Un valor alto para que esté por encima de otros elementos */
    }

    /* Logo y elementos para aceeder a las otras paginas */
    .Menualineado {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    /* Imagen del menu (logo) */
    .Logo {
        width: 15em;
        height: 4em;
        margin: 0 auto;
        margin-top: 1em;
        display: flex;
        align-items: center;
        padding: 0.5em;
}

    /* Desaparecer apartado de inicio */
    #Inicio {
        display: none;
    }

    /* Elementos del menú para acceder a las otras paginas */
    .Listaunidamenu {
        display: flex;
        list-style: none;
        font-size: 1.2em;
        flex-direction: row;
        align-items: flex-start;
        /* margin-left: auto; */
        justify-content: center;
        margin-left: 1em;
    }

    /* Cada elemento del menú (menos el logo)*/
    .Listamenu {
        position: relative;
        left: -5%;
        text-decoration: none;
        /*Quitar el subrayado*/
        display: block;
        padding: 0.7em;
        color: #FF96D5;
        /*Color de la letra*/
        width: 20%;
        /* margin-left: -5'%; */
    }

    /* ----------------- Elementos basicos ----------------- */
    .TituloInicio {
        margin-top: 5em;
    }

    /* ----------------- Rellenar datos ----------------- */
    .Rellenardatos {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
    }

    #Aceptar {
        margin-top: 4em;

    }

    /* ----------------- Footer ----------------- */

    footer {
        display: flex;
        flex-wrap: wrap;
        height: 50em;
        margin-top: 1em;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .PieIzq {
        margin-top: -2em;
    }

}